extends ../layouts/default

block content
  .container
    // Header
    include header.jade
    
    // Body
    - for (var i = 0; i < list.length; i+=4) {
      .row.demo-row
        - for (var j = 0; j < 4 && i + j < list.length; j++) {  
          .col-xs-3
            a(href="#{repodir}/sources/#{list[i + j]}")
              img(src="#{reporaw}/sources/#{list[i + j]}/result.jpg" width="200")
        - }
    - }
    
